/* Style par défaut pour les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    overflow: hidden; /* Empêcher le défilement par défaut */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.iconTo img {
    width: 50px;
    height: auto;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none; /* Masqué par défaut, visible sur mobile */
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    position: relative;
}

nav a .menuEffet {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

nav a:hover .menuEffet {
    width: 100%;
}

.bt_buy {
    display: flex;
    justify-content: center; /* Centrer le bouton */
    margin: 20px 0;
}

.bt_buy a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #f04;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    transition: background-color 0.3s ease;
}

.bt_buy a:hover {
    background-color: #d03;
}

.bt_buy a .menuEffet {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}

.bt_buy a:hover .menuEffet {
    width: 100%;
}

/* Style pour les petites écrans */
@media (max-width: 832px) {
    .menu-icon {
        display: block; /* Icône du menu visible sur les petits écrans */
    }

    nav {
        position: absolute;
        top: 100px;
        right: 0;
        background-color: #333333;
        width: 50%;
        height: 0;
        overflow: hidden;
        z-index: 1000;
        flex-direction: column;
        transition: height 0.3s ease-in-out;
    }

    nav.open {
        height: auto;
    }

    nav a {
        display: block;
        margin: 10px 0;
        padding: 15px;
        text-align: center;
        width: 100%;
    }
}

/* Style pour les slides */
.slide {
    position: relative;
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    scroll-snap-align: start; 
   
}


.one { background-color: aqua; }
.two { background-color: bisque; }
.tree { background-color: blue; }
.four { background-color: blueviolet; }
.five { background-color: chocolate; }

::-webkit-scrollbar {
    display: none; /* Cacher la barre de défilement */
}

.arrow {
    position: absolute;
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Ajuster le centrage vertical */
}
.arrow a {
    display: block;
}


.arrow.left {
    left: 0; /* Positionner au bord gauche */
}

.arrow.right {
    right: 0; /* Positionner au bord droit */
}

.arrow img {
    width: 50px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
}
